 
/* oculto los elementos */
input.i-email{
    display: none;
  }
  
  /* mostrará si está seleccionado value=SI */
  input.i-radio[value="SI"]:checked ~ input.i-email {
    display: block;
  }
  
  /* no mostrará si está seleccionado value=NO */
  input.i-radio[value="NO"]:checked ~ input.i-email {
    display: none;
  }
div.xd{
  text-align: center;
}

.justy{
  text-align: justify;
}
.btn-primary{
  color: #8F8F8F;
  background-color: #003865;
  border-color: #003865;
}
.btn-primary:hover{
  color:  #003865;
  background-color: #8F8F8F;
  border-color:  #003865;
}
.form-control{
  background-color: #c7c2c2;
}
#p{
  background-color: #c7c2c2;
}